<div class="row">
  
</div>

<div class="row">
  <div class="col-lg-12">
    <h5 class="lc-mb-40 lc-title-with-divider">
      Get in touch
      <span data-number="05"></span>
    </h5>
  </div>

  <div class="col-lg-6">
    <!-- contact card -->
    <div
      class="lc-service-icon-box lc-scroll-animation lc-active-el"
    >
      <div class="lc-service-content">
        <div class="lc-icon">
          <i class="bx bx-phone-call"></i>
        </div>
        <h6 class="lc-mb-20">
          <span> Call </span>
        </h6>
        <div class="lc-mb-15">
          <span class="lc-label">
            <span> Work: </span>
          </span>
          <span class="lc-text-sm">
            <a href="tel:+290445938563" target="_blank">
              <span> +54 (345) 6252292 </span>
            </a>
          </span>
        </div>
        <div class="lc-mb-15">
          <span class="lc-label">
            <span> Personal: </span>
          </span>
          <span class="lc-text-sm">
            <a href="tel:+29044293%203728" target="_blank">
              <span> +54 (345) 4945458 </span>
            </a>
          </span>
        </div>
      </div>
    </div>
    <!-- contact card end -->
  </div>
  <div class="col-lg-6">
    <!-- contact card -->
    <div
      class="lc-service-icon-box lc-scroll-animation lc-active-el"
    >
      <div class="lc-service-content">
        <div class="lc-icon">
          <i class="bx bx-mail-send"></i>
        </div>
        <h6 class="lc-mb-20">
          <span> Write </span>
        </h6>
        <div class="lc-mb-15">
          <span class="lc-label">
            <span> Email: </span>
          </span>
          <span class="lc-text-sm">
            <a href="mailto:trueman.inbox@gmail.com" target="_blank">
              <span> lucasjoelcampodonico@gmail.com </span>
            </a>
          </span>
        </div>
        <div class="lc-mb-15">
          <span class="lc-label">
            <span> Instagram: </span>
          </span>
          <span class="lc-text-sm">
            <a href="https://instagram.com/lucascampodonico/" target="_blank">
              <span> @lucascampodonico </span>
            </a>
          </span>
        </div>
      </div>
    </div>
    <!-- contact card end -->
  </div>
  
  <div class="col-lg-12">
    <div class="lc-contact-card">
      <div
        role="form"
      >
        <div class="screen-reader-response">
          <p role="status" aria-live="polite" aria-atomic="true"></p>
          <ul></ul>
        </div>
        <form
          [formGroup]="contactForm" (ngSubmit)="sendMail()"
        >
        <input
              type="text"
              name="nombre"
              size="40"
              formControlName="nombre"
              placeholder="Name" 
        />
            <input
              type="email"
              name="email"
              size="40"
              formControlName="email"
              placeholder="Email"
              />
            <textarea
              name="mensaje"
              cols="40"
              rows="10"
              formControlName="mensaje"
              placeholder="Message"
            ></textarea>
          <div class="lc-form-bottom">
            <re-captcha (resolved)="resolved($event)" siteKey="6Lf4J70lAAAAAC6J3U-z6UHzjl_nzPvW_Zzy8u2_"></re-captcha>
            <button type="submit" class="lc-btn">
              Send <i class="bx bx-right-arrow"></i>
            </button>
            <div class="lc-text-sm">
              * I promise the confidentiality of your personal information
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
