<div class="row">
  
</div>

<div class="row">
  <div class="col-lg-12">
    <h5 class="lc-mb-40 lc-title-with-divider">
      Get in touch
      <span data-number="05"></span>
    </h5>
  </div>

  <div class="col-lg-6">
    <!-- contact card -->
    <div
      class="lc-service-icon-box lc-scroll-animation lc-active-el"
    >
      <div class="lc-service-content">
        <div class="lc-icon">
          <i class="bx bx-phone-call"></i>
        </div>
        <h6 class="lc-mb-20">
          <span> Call </span>
        </h6>
        <div class="lc-mb-15">
          <span class="lc-label">
            <span> Work: </span>
          </span>
          <span class="lc-text-sm">
            <a href="tel:+290445938563" target="_blank">
              <span> +54 (345) 6252292 </span>
            </a>
          </span>
        </div>
        <div class="lc-mb-15">
          <span class="lc-label">
            <span> Personal: </span>
          </span>
          <span class="lc-text-sm">
            <a href="tel:+29044293%203728" target="_blank">
              <span> +54 (345) 4945458 </span>
            </a>
          </span>
        </div>
      </div>
    </div>
    <!-- contact card end -->
  </div>
  <div class="col-lg-6">
    <!-- contact card -->
    <div
      class="lc-service-icon-box lc-scroll-animation lc-active-el"
    >
      <div class="lc-service-content">
        <div class="lc-icon">
          <i class="bx bx-mail-send"></i>
        </div>
        <h6 class="lc-mb-20">
          <span> Write </span>
        </h6>
        <div class="lc-mb-15">
          <span class="lc-label">
            <span> Email: </span>
          </span>
          <span class="lc-text-sm">
            <a href="mailto:trueman.inbox@gmail.com" target="_blank">
              <span> lucasjoelcampodonico@gmail.com </span>
            </a>
          </span>
        </div>
        <div class="lc-mb-15">
          <span class="lc-label">
            <span> Instagram: </span>
          </span>
          <span class="lc-text-sm">
            <a href="https://instagram.com/lucascampodonico/" target="_blank">
              <span> @lucascampodonico </span>
            </a>
          </span>
        </div>
      </div>
    </div>
    <!-- contact card end -->
  </div>
  
  <div class="col-lg-12">
    <div class="lc-contact-card">
      <div
        role="form"
        class="wpcf7"
        id="wpcf7-f80-p76-o1"
        lang="en-US"
        dir="ltr"
      >
        <div class="screen-reader-response">
          <p role="status" aria-live="polite" aria-atomic="true"></p>
          <ul></ul>
        </div>
        <form
          action="/contact/#wpcf7-f80-p76-o1"
          method="post"
          class="wpcf7-form init"
          novalidate="novalidate"
          data-status="init"
        >
          <div style="display: none">
            <input type="hidden" name="_wpcf7" value="80" />
            <input type="hidden" name="_wpcf7_version" value="5.5.6.1" />
            <input type="hidden" name="_wpcf7_locale" value="en_US" />
            <input
              type="hidden"
              name="_wpcf7_unit_tag"
              value="wpcf7-f80-p76-o1"
            />
            <input type="hidden" name="_wpcf7_container_post" value="76" />
            <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
          </div>
          <span class="wpcf7-form-control-wrap your-name"
            ><input
              type="text"
              name="your-name"
              value=""
              size="40"
              class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
              aria-required="true"
              aria-invalid="false"
              placeholder="Name"
          /></span>
          <span class="wpcf7-form-control-wrap your-email"
            ><input
              type="email"
              name="your-email"
              value=""
              size="40"
              class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
              aria-required="true"
              aria-invalid="false"
              placeholder="Email"
          /></span>
          <span class="wpcf7-form-control-wrap your-message">
            <textarea
              name="your-message"
              cols="40"
              rows="10"
              class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required"
              aria-required="true"
              aria-invalid="false"
              placeholder="Message"
            ></textarea>
          </span>
          <div class="lc-form-bottom">
            <button type="submit" class="lc-btn">
              Send <i class="bx bx-right-arrow"></i>
            </button>
            <div class="lc-text-sm">
              * I promise the confidentiality of your personal information
            </div>
          </div>
          <div class="wpcf7-response-output" aria-hidden="true"></div>
        </form>
      </div>
    </div>
  </div>
</div>
