<!-- portfolio -->
<div class="row">
      <!-- title -->
      <h5 class="lc-mb-40 lc-title-with-divider">Projects <span data-number="04"></span></h5>
      <!-- title end-->

      <button *ngIf="isAuthenticated" (click)="openCreateProject()" class="mb-2 lc-btn">Add Project</button>

      <div class="col-lg-6" *ngFor="let project of projects">

     

        <!-- portfolio item -->

        <div  class="lc-portfolio-item lc-scroll-animation lc-active-el" data-cat="card">
          <div class="lc-cover-frame">

             <!-- edit buttons-->

              <button (click)="openUpdateProject(project)" *ngIf="isAuthenticated" class="lc-edit-absolute-topright" placement="bottom" ngbTooltip="Edit">
                <i class="bx bx-edit"></i>
              </button>
              <button (click)="openDeleteProject(project)" *ngIf="isAuthenticated" class="lc-delete-absolute-topright" placement="bottom" ngbTooltip="Delete">
                <i class="bx bx-x"></i>
              </button>

              <!-- edit buttons end-->
               <a data-fancybox="portfolio" href="{{project.imageUrl}}">
                  <img class="lc-cover" src="{{project.imageUrl}}" alt="item">
                </a>
          </div>
        
          <a data-fancybox="portfolio" href="{{project.imageUrl}}">
          <div class="lc-item-description">
            <h6>{{ project.nameProject }}</h6>
            <div class="lc-zoom-icon">
              <i class="bx bx-search"></i>
            </div>
          </div>
        </a>
        </div>
        <!-- portfolio item end -->

       

      </div>
</div>
    <!-- portfolio end -->
