.lc-logo-text {
  color: #fcfcfe;
}

.preloader div:before {
  background-color: #dedee0;
}

/***************************

app marcup

***************************/
body {
  background-color: #00151f;
}

.lc-app-frame {
  border: solid 10px #00151f;
  background-color: #02162b;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.6);
}
.lc-app-frame .lc-content-start:before {
  background-color: #00283a;
}

@media (max-width: 992px) {
  body {
    background-color: #02162b;
  }
}
/***************************

top bar

***************************/
.lc-top-bar {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
  background-color: #00283a;
}
.lc-top-bar:after {
  background-color: #00283a;
}
.lc-top-bar .container .lc-left-side .lc-logo-frame .lc-logo-text {
  color: #dedee0;
}
.lc-top-bar .container .lc-left-side .lc-logo-frame .lc-logo-text span {
  color: #e9a617;
}

span.right{
  color: #d7d7d7 !important;
}
span.left {
  background: #d7d7d7;
}
.lc-logo-text span p:nth-child(1){
  color: rgb(0, 0, 0);
}
@media (max-width: 1200px) {
  .lc-top-bar .container .lc-right-side {
    background-color: #00283a;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
  }
}
/***************************

menu

***************************/
.lc-menu nav ul li:after {
  background-color: #e9a617;
}
.lc-menu nav ul li{
  color: #dedee0;
}
.lc-menu nav ul li:hover {
  color: #e9a617;
}
.lc-menu nav ul li ul {
  background-color: #00283a;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.6);
}

@media (max-width: 1200px) {
  .lc-menu nav ul li.current-menu-item {
    color: #e9a617;
  }
  .lc-menu nav ul li.current-menu-item ul li{
    color: #dedee0;
  }
  .lc-menu nav ul li ul {
    background-color: #02162b;
    box-shadow: inset 0 0 4px -1px rgba(0, 0, 0, 0.6);
  }
}
/***************************

mobile menu button

***************************/
.lc-menu-btn span,
.lc-menu-btn span:after,
.lc-menu-btn span:before {
  background: #dedee0;
}
/***************************

mode switcher

***************************/
.lc-mode-switcher-place .lc-mode-switcher .tgl-light + .lc-swich {
  box-shadow: inset 0 0 4px -1px rgba(0, 0, 0, 0.6);
  background: #02162b;
}
.lc-mode-switcher-place .lc-mode-switcher .tgl-light + .lc-swich:after {
  border: solid 3px #e9a617;
  background: #00283a;
}
.lc-mode-swich-animation-frame .lc-mode-swich-animation:before {
  border-bottom: dotted 5px #dedee0;
}
.lc-mode-swich-animation-frame .lc-mode-swich-animation .fa-sun {
  color: #dedee0;
}
.lc-mode-swich-animation-frame .lc-mode-swich-animation .fa-moon {
  color: #dedee0;
}
/***************************
typography
***************************/

body {
  color: rgba(204, 205, 207, 0.7);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #dedee0;
}

.lc-contrast {
  color: #dedee0 !important;
}
.lc-accent-color {
  color: #e9a617;
}
.lc-label {
  color: #dedee0;
}
.lc-label.lc-label-light {
  color: rgba(204, 205, 207, 0.7);
}
.lc-label.lc-label-color {
  color: #e9a617;
}
a.lc-label:focus,
a.lc-label:hover {
  color: #e9a617;
}

.lc-title-with-divider span {
  border-bottom: dotted 2px rgba(225, 225, 235, 0.15);
}
.lc-title-with-divider span:after {
  color: rgba(204, 205, 207, 0.7);
}

.lc-list li {
  color: #dedee0;
}
.lc-list li:before {
  border: solid 3px #e9a617;
}

blockquote {
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.6);
  background-color: #00283a;
  color: #dedee0;
}
blockquote:before {
  color: #e9a617;
}
blockquote:after {
  color: #e9a617;
}
blockquote.lc-color-quote {
  background-color: #02162b;
  box-shadow: inset 0 0 4px -1px rgba(0, 0, 0, 0.6);
}
blockquote.lc-color-quote:before {
  color: #e9a617;
}
blockquote.lc-color-quote:after {
  color: #e9a617;
}
.lc-card {
  background-color: #00283a;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.6);
}
.lc-card .lc-icon {
  color: #dedee0;
}

/***************************

button

***************************/
.lc-btn {
  background-color: #e9a617;
  border: solid 2px #e9a617;
  color: #fcfcfe;
}
.lc-btn:hover {
  color: #fcfcfe;
  background-color: #033f5a;
  border: solid 2px #012d40;
}
.lc-btn.lc-btn-border {
  border: solid 2px #fcfcfe;
}
.lc-btn.lc-btn-border:hover {
  border: solid 2px #fcfcfe;
}

/***************************

form

***************************/
form input {
  color: #dedee0;
  box-shadow: inset 0 0 4px -1px rgba(0, 0, 0, 0.6);
  background-color: #02162b;
}
form textarea {
  color: #dedee0;
  box-shadow: inset 0 0 4px -1px rgba(0, 0, 0, 0.6);
  background-color: #02162b;
}

.lc-divider {
  border-bottom: dotted 2px rgba(225, 225, 235, 0.15);
}

/***************************

banner

***************************/
.lc-banner {
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.6);
}
.lc-banner .lc-banner-content.lc-overlay {
  background-color: rgba(10, 15, 20, 0.2);
}
.lc-banner .lc-banner-content .lc-banner-text * {
  color: #fcfcfe;
  text-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}
.lc-banner .lc-banner-content .lc-banner-text .lc-breadcrumbs {
  border: solid 2px #fcfcfe;
}
.lc-banner .lc-banner-content .lc-banner-text .lc-breadcrumbs li a:hover {
  color: #e9a617;
}
.lc-banner .lc-banner-content .lc-scroll-hint-frame .lc-label {
  color: #fcfcfe;
}
.lc-banner .lc-banner-content .lc-scroll-hint-frame .lc-scroll-hint {
  border: solid 2px #fcfcfe;
}
.lc-banner .lc-banner-content .lc-scroll-hint-frame .lc-scroll-hint:after {
  background-color: #fcfcfe;
}
/***************************
main card
***************************/

.lc-main-card-frame .lc-main-card {
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.6);
  background-color: #00283a;
}
.lc-main-card-frame .lc-main-card:before {
  background-color: #00283a;
}
.lc-main-card-frame .lc-main-card .lc-social a {
  color: #dedee0;
}
.lc-main-card-frame .lc-main-card .lc-social a:hover {
  color: #e9a617;
}
.lc-mc-header .lc-avatar-frame .lc-avatar {
  border: solid 3px #00283a;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.6);
}
.lc-mc-header .lc-avatar-frame .lc-dot {
  border: solid 3px #00283a;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.6);
  background-color: #e9a617;
}
.lc-mc-header .lc-avatar-frame .lc-dot:after {
  border: solid 3px #00283a;
  color: #fcfcfe;
  background-color: #e9a617;
}
.lc-dot-edit{
  border: 3px solid #00283a;
}
.lc-dot-edit2{
  border: 3px solid #00283a;
}
.lc-edit-absolute-topright {
  border: 3px solid #00283a;
}
.lc-delete-absolute-topright {
  border: 3px solid #00283a;
}
.lc-edit-relative {
  border: 3px solid #00283a;
}
.lc-delete-relative {
  border: 3px solid #00283a;
}
/***************************

icon box

***************************/
.lc-service-icon-box {
background-color: #00283a;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.6);
}
/***************************

skills

***************************/
.lc-skill-card {
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.6);
  background-color: #00283a;
}
.lc-skill-card .lc-progressbar-frame {
  background-color: #02162b;
  box-shadow: inset 0 0 4px -1px rgba(0, 0, 0, 0.6);
}
.lc-skill-card .lc-progressbar-frame .lc-progressbar {
  background-color: #e9a617;
}
/***************************

portfolio

***************************/
.lc-portfolio-item {
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.6);
}
.lc-portfolio-item .lc-item-description {
  background-color: #00283a;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.6);
}
.lc-portfolio-item .lc-item-description .lc-zoom-icon {
  background-color: #e9a617;
  color: #fcfcfe;
}
/***************************

timeline

***************************/
.lc-timeline::before {
  background: #00283a;
}
.lc-timeline .lc-timeline-item .lc-timeline-mark-light {
  background: #c0ca33;
}
.lc-timeline .lc-timeline-item .lc-timeline-mark {
  border: solid 3px #e9a617;
  background: #00283a;
}
.lc-timeline .lc-timeline-content {
  background: #00283a;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.6);
}
.lc-timeline .lc-timeline-content:after {
  background-color: #00283a;
}
.lc-timeline .lc-timeline-content .lc-card-header .lc-right-side .lc-date {
  color: #dedee0;
  background: #02162b;
}

/***************************

contact form

***************************/
.lc-contact-card {
  background: #00283a;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.6);
}
.lc-contact-card .lc-success-banner {
  background-color: #00283a;
}
.lc-service-icon-box .lc-icon img {
  filter: invert(1);
}

/***************************

pagination

***************************/
.lc-pagination li a:hover {
  color: #e9a617;
}
.lc-pagination li span {
  color: #fcfcfe;
  background-color: #e9a617;
}

/***************************

subscribe

***************************/
.lc-subscribe-card {
  background-color: #00283a;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.6);
}
/***************************

footer

***************************/
footer {
  background-color: #00283a;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.6);
}
footer .lc-label {
  color: rgba(204, 205, 207, 0.7);
}
footer .lc-label a {
  color: #e9a617;
}
footer .lc-label a:hover {
  color: #c0ca33;
}

/***************************

popup

***************************/
.lc-order {
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.6);
  background-color: #00283a;
}
.lc-order .lc-popup-content .lc-popup-form-frame .lc-success-banner {
  background-color: #00283a;
}
/***************************

fancybox

***************************/
.fancybox-thumbs {
  background-color: #00283a;
}
.fancybox-thumbs .fancybox-thumbs__list {
  background-color: #00283a;
}

.fancybox-thumbs-active:before {
  border: solid 3px #e9a617 !important;
}

.fancybox-bg {
  background-color: #00151f;
}

.fancybox-button {
  color: #fcfcfe;
}
.fancybox-toolbar {
  background-color: #00283a;
}
.fancybox-toolbar .fancybox-button {
  margin-top: 0;
  color: #dedee0;
}

/*# sourceMappingURL=style-dark.css.map */
