<div class="lc-app-frame">

    <!-- page preloader -->
    <div class="lc-preloader">
      <div class="lc-holder">
        <div class="preloader">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <!-- page preloader end -->

    <!-- change mode preloader -->
    <div class="lc-mode-swich-animation-frame">
      <div class="lc-mode-swich-animation">
        <i class="far fa-sun"></i>
        <div class="lc-horizon"></div>
        <i class="far fa-moon"></i>
      </div>
    </div>
    <!-- change mode preloader end -->

    <!-- Scrollbar -->
    <ng-scrollbar
    #scrollable
    track="all"
    pointerEventsMethod="scrollbar"
    [autoHeightDisabled]="true"
    class="lc-scroll-container my-scrollbar"
    id="lc-scroll-container"
  >
      <!-- scroll container -->
      <section id="content" class="lc-scroll-section">
        <app-topbar
          (miEvento)="scrollable.scrollToElement($event, { top: 330, duration: 800})"
        ></app-topbar>

        <div class="lc-content-start">
          <!-- banner -->
          <div class="lc-banner">
            <!-- banner slideshow cover -->
            <div class="swiper-container lc-slideshow">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img
                    src="assets/img/banner.jpg"
                    alt="banner"
                    class="lc-banner-cover"
                    data-swiper-parallax-y="-200"
                    data-swiper-parallax-scale="1.2"
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    src="assets/img/banner2.jpg"
                    alt="banner"
                    class="lc-banner-cover"
                    data-swiper-parallax-y="-200"
                    data-swiper-parallax-scale="1.2"
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    src="assets/img/banner3.jpg"
                    alt="banner"
                    class="lc-banner-cover"
                    data-swiper-parallax-y="-200"
                    data-swiper-parallax-scale="1.2"
                  />
                </div>
              </div>
            </div>
            <!-- banner slideshow cover end -->

            <!-- banner content -->
            <div class="lc-banner-content lc-overlay">
              <div class="container">
                <div class="row">
                  <div class="col-lg-4"></div>
                  <div class="col-lg-8">
                    <!-- scroll hint -->
                    <a href="#about-triger" class="lc-scroll-hint-frame">
                      <div class="lc-scroll-hint"></div>
                      <span class="lc-label">Scroll down</span>
                    </a>
                    <!-- scroll hint end -->
                  </div>
                </div>
              </div>
            </div>
            <!-- banner content end -->
          </div>
          <!-- banner end -->

          <div class="container">
            <div class="row">
              <div class="col-lg-4">
                <!-- banner title -->
                <div class="lc-banner-text">
                  <div class="lc-label lc-mb-20">Hi my new friend!</div>
                  <h1 class="lc-mb-30">Discover my<br />art space!</h1>
                </div>
                <!-- banner title end -->

                <!-- main card -->
                <app-tarjeta></app-tarjeta>
                <!-- end main card -->
              </div>
              <div class="col-lg-8">
                <!-- banner title -->
                <div class="lc-banner-text">
                  <div class="lc-label lc-mb-20">Hi my new friend!</div>
                  <h1 class="lc-mb-30">Discover my<br />art space!</h1>
                </div>
                <!-- banner title end -->

                <!-- content -->
                <div class="lc-content" id="lc-content">
                  
                  
                  
                  <div class="row">
                    <div class="col-lg-12">
                      <!-- quote -->
                      <blockquote
                        class="lc-scroll-animation lc-active-el"
                        data-scroll=""
                        data-scroll-offset="40"
                      >
                      Programming is the art of telling a machine what to do; the real beauty is in making it do what you want
                      </blockquote>
                      <!-- quote end -->
                    </div>
                  </div>

                  <div class="lc-mb-40"></div>
                  
                  <app-skills id="skills"></app-skills>
                  <app-history id="history"></app-history>
                  <app-projects id="portfolio"></app-projects>
                  <app-contact id="contact"></app-contact>

                  <!-- footer -->
                  <app-footer></app-footer>
                  <!-- fotter end-->
                </div>
                <!-- content end -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- scroll container end -->

      <!-- mode switcher -->
      <div class="lc-hidden-switcher">
        <div class="lc-mode-switcher" id="lc-mode-switcher">
          <i class="bx bx-sun"></i>
          <input class="tgl tgl-light" id="lc-swich" type="checkbox" />
          <label class="lc-swich" for="lc-swich"></label>
          <i class="bx bx-moon"></i>
        </div>
      </div>
      <!-- mode switcher end -->
    </ng-scrollbar>
    <!-- Scrollbar end-->

     <!-- popup -->
     <div id="lc-order" class="lc-order">
      <div class="lc-popup-content">

        <div class="lc-popup-form-frame">
          <h5 class="lc-mb-40">Write me a message</h5>
          <form id="form1">
            <input name="name" type="text" placeholder="Name">
            <input name="email" type="email" placeholder="Email">
            <textarea name="text" rows="6" placeholder="Message"></textarea>
            <button type="submit" class="lc-btn">Send <i class="fas fa-arrow-right"></i></button>
          </form>
          <div class="lc-text-sm lc-mt-20">* I promise the confidentiality of your personal information</div>

      </div>
    </div>
    <!-- popup end -->
</div>
