

            <!-- knowledge -->
            <div class="row" appInViewport>
                <div class="col-lg-12">

                  <!-- title -->
                  <h5 class="lc-mb-40 lc-title-with-divider">Knowledge <span data-number="01"></span></h5>
                  <!-- title end-->
                </div>
                <div class="col-lg-12">

                  <div class="lc-card">
                    <div class="row">
                      <div class="col-lg-12">
                        <ul class="lc-list">
                          <li *ngFor="let skill of skills">
                            <span>{{skill.nameSkill}}</span>

                            <button (click)="openUpdateSkill(skill)" *ngIf="isAuthenticated" class="lc-edit-relative" placement="top" ngbTooltip="Edit">
                              <i class="bx bx-edit"></i>
                            </button>
                            <button (click)="openDeleteSkill(skill)" *ngIf="isAuthenticated" class="lc-delete-relative" placement="top" ngbTooltip="Delete">
                              <i class="bx bx-x"></i>
                            </button>
                          </li>
                        </ul>
                        <button *ngIf="isAuthenticated" (click)="openAddSkill()" class="lc-btn">Add skill</button>
                      </div>
                    </div>

                  </div>
                </div>
              </div>


     