
<div class="lc-main-card-frame lc-sidebar">
    <div class="lc-main-card">

      <!-- card header -->
      <div class="lc-mc-header">
        <div class="lc-avatar-frame lc-mb-20">
          <img class="lc-avatar" src="{{card.imageUrl}}" alt="Avatar">
          <div *ngIf="!isAuthenticated" class="lc-dot"></div>
        </div>

        <button (click)="openUpdateCard(card)" *ngIf="isAuthenticated" class="lc-edit-absolute-topright" placement="bottom" ngbTooltip="Edit Profile">
                <i class="bx bx-edit"></i>
              </button>
        <h5 class="lc-name lc-mb-15">{{card.name}}</h5>
        <div class="lc-label">I`m
          <span class="lc-typed-text">
            <!-- Words for rotation: js/main.js line 34 -->
          </span>
        </div>
      </div>
      <!-- card header end -->

      <div class="lc-divider lc-mb-20 lc-mt-20"></div>

      <!-- sidebar social -->
      <div class="lc-social">
        <a href="{{card.linkedin}}" target="_blank"><i class='bx bxl-linkedin'></i></a>
        <a href="{{card.github}}" target="_blank"><i class='bx bxl-github' ></i></a>
        <a href="{{card.gitlab}}" target="_blank"><i class='bx bxl-gitlab' ></i></a>
        <a href="{{card.twitter}}" target="_blank"><i class='bx bxl-twitter' ></i></a>
      </div>
      <!-- sidebar social end -->

      <div class="lc-divider lc-mb-20 lc-mt-20"></div>

      <!-- info -->
      <ul class="lc-table lc-mb-20">
        <!-- country -->
        <li>
          <div class="lc-label">Residence:</div>
          <div class="lc-label lc-label-light">{{card.residence}}</div>
        </li>
        <!-- city -->
        <li>
          <div class="lc-label">City:</div>
          <div class="lc-label lc-label-light">{{card.city}}</div>
        </li>
        <!-- age -->
        <li>
          <div class="lc-label">Age:</div>
          <div class="lc-label lc-label-light">{{card.age}}</div>
        </li>
      </ul>
      <!-- info end -->

      <div class="lc-divider lc-mb-20 lc-mt-20"></div>

      <!-- action button -->
      <div class="text-center">
        <a data-fancybox href="#lc-order" class="lc-btn">Contact me <i class="far fa-envelope"></i></a>
      </div>
      <!-- action button end -->

     <!-- popup -->
     <div id="lc-order" class="lc-order">
      <div class="lc-popup-content">

        <div class="lc-popup-form-frame">
          <h5 class="lc-mb-40">Write me a message</h5>
             <form
          [formGroup]="contactForm" (ngSubmit)="sendMail()"
        >
        <input
              type="text"
              name="nombre"
              size="40"
              formControlName="nombre"
              placeholder="Name" 
        />
            <input
              type="email"
              name="email"
              size="40"
              formControlName="email"
              placeholder="Email"
              />
            <textarea
              name="mensaje"
              cols="40"
              rows="5"
              formControlName="mensaje"
              placeholder="Message"
            ></textarea>
          <div class="lc-form-bottom">
            <re-captcha (resolved)="resolved($event)" siteKey="6Lf4J70lAAAAAC6J3U-z6UHzjl_nzPvW_Zzy8u2_"></re-captcha>
          </div>
          <button type="submit" class="lc-btn">
            Send <i class="bx bx-right-arrow"></i>
          </button>
        </form>
      </div>
    </div>
    <!-- popup end -->
    </div>
  </div>